@use "./variables" as *;
@use "./mixins" as *;

html {
    font-size: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    @include font();
    font-family: $font-stack;
    background: $body-background;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    @include font();
    text-decoration: none;
}

button {
    font-family: $font-stack;
}

img {
    max-width: 100%;
    height: auto;
}
