@use "./mixins" as *;

html {
    font-size: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    @include font();
    font-family: var(--font-stack);
    background: var(--body-background);
    text-align: center;
}

h2, p, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: var(--font-stack);
}

img {
    max-width: 100%;
    height: auto;
}

abbr[title] {
    text-decoration: none;
}

.copyright {
    @include font(0.8rem, 1.5rem, 600, uppercase, var(--accent-colour));
    border-top: 2px solid var(--accent-colour);
    padding: 9px 0;
    scroll-snap-align: start;
}

*:focus {
    outline: none;
}