@use "./mixins" as *;

html {
    font-size: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    @include font();
    font-family: var(--font-stack);
    background: var(--body-background);
    text-align: center;
}

h1, h2, h3, h4, p, ul, li, fieldset, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: var(--font-stack);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

abbr[title] {
    text-decoration: none;
}

*:focus {
    outline: none;
}

.wrapper {
    width: 60%;
    max-width: 1152px;
    margin: 0 auto;
}

.view-resume,
.send-message {
    @include flex();
    @include font(0.8rem, 1rem, 600, uppercase);
    position: relative;
    background: transparent;
    height: 54px;
    padding-left: 24px;
    border: 2px groove var(--accent-colour);
    border-radius: 27px;
    overflow: hidden;
    transition: color 0.5s;

    svg {
        width: 20px;
        height: 20px;
        padding: 15px;
        margin-left: 12px;
        border-radius: 27px;
        color: var(--secondary-font-colour);
        background: var(--accent-colour);
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--accent-colour);
        transform: scaleX(0);
        transform-origin: right;
        border-radius: 27px;
        z-index: -10;
        transition: transform 0.35s ease-out;
    }

    &:hover,
    &:focus {
        color: var(--secondary-font-colour);

        &::before {
            transform: scaleX(1);
        }
    }
}