@use "./mixins" as *;

main.wrapper {
    width: 60%;
    max-width: 1152px;
    margin: 0 auto;
}

.section-heading {
    position: relative;
    margin: 24px 0;

    h2 {
        @include font(3.5rem, 3.5rem, 800, uppercase);

        span {
            color: var(--accent-colour);
        }
    }

    .heading-background {
        @include font(6rem, 6rem, 800, uppercase, var(--heading-background));
        letter-spacing: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
    }
}

section {
    @include flex(column);
    min-height: 100vh;
    scroll-snap-align: start;
}

.skills {

    ul {
        @include flex();
        flex-wrap: wrap;
    }

    li {
        @include font(1.5rem, 2rem, 600, uppercase);
        @include flex(column);
        width: calc(100%/4);
        margin: 30px 0;
        transition: transform 0.25s;

        &:hover {
            transform: scale(1.3);
        }
    }

    svg, img {
        color: var(--accent-colour);
        width: 96px;
        height: 96px;
        margin-bottom: 12px;
    }
}
