:root {
    --accent-colour: #ffb400;
    --primary-font-colour: #e6e6e6;
    --secondary-font-colour: #000000;
    --body-background: #000000;
    --heading-background: #212121;
    --navbar-background: #181818;
    --button-background: #2b2a2a;
    --theme-button-background: #4b4b4b;
    --input-background: #252525;
    --project-overlay: #000000cc;
    --font-stack: "Poppins", sans-serif;
}