:root {
    --accent-colour: #ffb400;
    --primary-font-colour: #ffffff;
    --secondary-font-colour: #bbbbbb;
    --tertiary-font-colour: #000000;
    --body-background: #111111;
    --heading-background: #212121;
    --button-background: #2b2a2a;
    --input-background: #666666;
    --font-stack: "Poppins", sans-serif;
}