:root {
  --accent-colour: #ffb400;
  --primary-font-colour: #e6e6e6;
  --secondary-font-colour: #000000;
  --body-background: #000000;
  --heading-background: #212121;
  --button-background: #2b2a2a;
  --theme-button-background: #4b4b4b;
  --input-background: #252525;
  --project-overlay: #000000cc;
  --font-stack: "Poppins", sans-serif;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: none;
  color: var(--primary-font-colour);
  font-family: var(--font-stack);
  background: var(--body-background);
  text-align: center;
}

h1, h2, h3, h4, p, ul, li, fieldset, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--font-stack);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

abbr[title] {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.wrapper {
  width: 60%;
  max-width: 1152px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
header .header-image {
  width: 35%;
  height: 100vh;
  padding: 4vh;
}
header .header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 12px var(--body-background);
          box-shadow: 0 0 12px var(--body-background);
}
header .header-text {
  width: 65%;
}
header .header-text span {
  color: var(--accent-colour);
}
header h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--primary-font-colour);
}
header .theme-toggle {
  position: fixed;
  top: 36px;
  right: 36px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: var(--primary-font-colour);
  background: var(--theme-button-background);
}
header .theme-toggle:hover, header .theme-toggle:focus {
  color: var(--secondary-font-colour);
  background: var(--primary-font-colour);
}
header nav {
  position: fixed;
  right: 36px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header nav li {
  margin: 9px 0;
}
header nav a {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--button-background);
  padding: 15px;
  border-radius: 25px;
}
header nav a:hover, header nav a:focus {
  color: var(--secondary-font-colour);
  background: var(--accent-colour);
}
header nav a:hover span, header nav a:focus span {
  width: 100%;
  margin-right: 12px;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
header nav a.displayed {
  color: var(--secondary-font-colour);
  background: var(--accent-colour);
}
header nav span {
  display: block;
  width: 0;
  overflow: hidden;
}
header nav svg {
  width: 20px;
}
header .header-accent {
  position: absolute;
  width: 100vw;
  height: 150vh;
  top: 0;
  left: -80vw;
  background: var(--accent-colour);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  z-index: -100;
}
header .mask {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100vh;
  background: var(--body-background);
  z-index: -90;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  scroll-snap-align: start;
}

.section-heading {
  position: relative;
  margin: 24px 0;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--primary-font-colour);
}
h2 span {
  color: var(--accent-colour);
}

.heading-background {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--heading-background);
  letter-spacing: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -10;
}

.about-text p {
  margin: 36px 0;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills li {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  margin: 30px 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.skills li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.skills svg {
  color: var(--accent-colour);
  fill: var(--accent-colour);
  width: 96px;
  height: 96px;
  margin-bottom: 12px;
}
.skills svg g {
  fill: var(--accent-colour);
}

.projects > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.project-container {
  position: relative;
  width: calc(50% - 48px);
  margin: 16px 0;
}
.project-container:hover .project-text, .project-container:focus-within .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  background: var(--project-overlay);
  border-radius: 12px;
  display: none;
}
.project-text h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
}
.project-text h4 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent-colour);
  margin-top: 12px;
}
.project-text p {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: none;
  color: var(--primary-font-colour);
  width: 80%;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-links a {
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  display: block;
  border: 2px solid var(--primary-font-colour);
  padding: 12px;
  margin: 0 12px;
}
.project-links a:hover, .project-links a:focus {
  color: var(--accent-colour);
  border: 2px groove var(--accent-colour);
  background: var(--body-background);
}

footer {
  position: relative;
}

.copyright {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent-colour);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid var(--accent-colour);
  padding: 9px 0;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.contact-info {
  width: 30%;
  padding: 0 36px;
}

form {
  width: 70%;
}

input, textarea {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
  text-transform: none;
  color: var(--primary-font-colour);
  background: var(--input-background);
  padding: 12px 18px;
  margin-bottom: 24px;
  border: 2px solid var(--input-background);
  border-radius: 26px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  opacity: 0.75;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  opacity: 0.75;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  opacity: 0.75;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  opacity: 0.75;
}
input::placeholder, textarea::placeholder {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-font-colour);
  opacity: 0.75;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  border: 2px solid var(--accent-colour);
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-info input {
  width: calc(50% - 36px);
}

.user-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-message input {
  width: calc(100% - 48px);
}
.user-message textarea {
  width: calc(100% - 48px);
  height: 240px;
}